.timeline-container {
    width: 100%;
    position: relative;
    margin: -10px;
    &::after {
        content: '';
        position: absolute;
        border: 1px solid #f0f0f0;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    .timeline-item {
        padding: 10px;
        position: relative;
        width: 50%;
        &::after {
           content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            right: -3px;
            border: 2px solid #1890ff;
            top: 17px;
            border-radius: 50%;
            z-index: 1;
        }
    }
    .timeline-item-left {
        left: 0;
    }
    .timeline-item-right {
        left: 50%;
        &::after {
            left: -7px;
        }
    }
}