.main-page {
  max-width: 60%;
  span {
    display: block;
  }
  .personal-profile {
    &__wrapper {
      padding: 50px;
    }
    &__name {
      @extend .heading;
    }
    &__desc {
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      margin-bottom: 15px;
    }
    &__about {
      margin-bottom: 20px;
      color: #bdbdbd;
      font-size: 20px;
      font-weight: 300;
    }
    &__social {
      a {
        font-size: 30px;
        margin-right: 15px;
        opacity: .4;
        color: white;
      }
    }
  }
}

.desc-links {
    padding-bottom: 1px;
    border-bottom: 2px solid $snow-white;
    transition: all 200ms ease;
    color:$snow-white;
    text-decoration: none;
    &:hover, &:active, &:focus {
      color: $snow-white;
      text-decoration: none;
      padding-bottom: 4px;
      border-bottom-color: transparent;
    }
}