@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700i');

html, body {
    font-family: 'IBM Plex Serif', serif;
    padding: 0;
    margin: 0;
    background: #131313;
    color: #FFF;
}

.pt-navbar.pt-dark, .pt-dark .pt-navbar {
    background-color: #7b4df3 !important;
}

.main-section-wrapper {
    padding: 0 15px;
    display: flex;
    flex-wrap: nowrap;
}

.sidebar-wrapper {
    margin: 10px 10px 10px 0;
    min-width: 330px;
}

.grayscale {
    opacity: 0.6;
}

.tag-spacing {
    padding: 0 5px;
}

.card-layout {
    display: flex;
    flex-wrap: wrap;
}

.pt-navbar {
    margin-bottom: 10px;
}

.card-layout .pt-card {
    margin: 10px;
}

.pt-card {
    background-color: #262626 !important;
    border: 3px solid #2b2b2b;
    border-radius:  5px;
}

.tag-color{
    background-color: #e04a44 !important;
    color: #FFF !important;
}